fastapi
uvicorn
pymongo
motor
python-jose
passlib
bcrypt
python-dotenv
pydantic
email-validator
python-multipart

langchain
langchain-community
chromadb
langgraph
google-genai
sentence-transformers
pypdf