fastapi
uvicorn
pymongo
motor
python-jose
passlib
bcrypt
python-dotenv
pydantic
email-validator
python-multipart
streamlit 

langchain
langchain-community
chromadb
langgraph
google-genai
groq
sentence-transformers
pypdf